asgiref==3.3.1
autopep8==1.5.4
Django==3.1.5
django-appconf==1.0.4
django-imagekit==4.0.2
django-resized==0.3.11
flake8==3.8.4
mccabe==0.6.1
pilkit==2.0

pycodestyle==2.6.0
pyflakes==2.2.0
pytz==2020.5
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
